<html>
    <head>
        <title>Todo-List</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="app.js"></script>
        <script src="controller/todoListCtrl.js"></script>
    </head>
    <body ng-app="todoList">
        <!--header-->
        <header>
            <p>Todo List</p>
            <nav>
                <ul>
                    <li><a href="#" >Home</a> | <a href="#" >About</a></li>
                </ul>
            </nav>
        </header>
        <!--body-->
        <div ng-controller="todoListCtrl">
            <div id="tdItem" ng-repeat="item in todolist">
                <input type="checkbox" />
                <span ng-class="{strikethru: item.completed}">{{item.name}}</span>
                <button class="delete" ng-click="deleteItem($index)">X</button>
            </div>
            <div id="tdItem">
                    <input type="text" name="item-name"/>
                    <button ng-click="addItem()">Add Item</button>
            </div>
        </div>
    </body>
</html>